Hi [[${name}]], 

Welcome to a demo of MeherY's message aggregation solution - Your partner for Enterprise Social Communications.

Please chose a demo for the industry options stated below (choose a number or the bold letter).

1️⃣ Asset Management Companies
2️⃣ Retail Chains
3️⃣ Real Estate
4️⃣️ New Account Open
#️⃣ Chat with us     
---options---
actions-button-menu:Asset Management;
actions-button-retail:Retail;
actions-button-realstate:RealState;
actions-button-newaccountopen:NewAccountOpen;
actions-button-talktoagent:TalkToAgent;