<!DOCTYPE html>
<html lang="en">

<head>
<base th:href="${APP_CONTEXT} + '/'" />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="assets/css/dashboard.agent.bubble.css" rel="stylesheet"
	id="bootstrap-css">
<link href="assets/css/customer.plugin.bubble.css" rel="stylesheet"
	id="bootstrap-css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="assets/icon/style.css" rel="stylesheet"
	id="bootstrap-css">
 <script>
		window.CONST = {
			CONTEXT: '[[${APP_CONTEXT}]]',
			POSTMAN : 'postman'
		}
</script>
</head>
	<body>
		<div class="h-100 bcdesgin">
			<div class="justify-content-center h-100">
				<div class="chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont customer-chat-logo">
								    <span class="icon-my-agent"></span>
								</div>
								<div class="user_info">
									<span>Contact Us</span>
								</div>
							</div>
							<span id="action_menu_btn" hidden><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li><i class="fas fa-user-circle"></i> View profile</li>
									<li><i class="fas fa-users"></i> Add to close friends</li>
									<li><i class="fas fa-plus"></i> Add to group</li>
									<li><i class="fas fa-ban"></i> Block</li>
								</ul>
							</div>
						</div>
						<div class="card-body msg_card_body">
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip" hidden></i></span>
								</div>
								<input id="btn-input" name="" class="form-control type_msg" placeholder="Type your message..." autocomplete="off" />
								<div class="input-group-append">
									<span class="input-group-text send_btn" id="btn-chat"><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		

		<script type="text/template" id="onRcvMsgFormat">

<div class="d-flex justify-content-start mb-4">
	<div class="img_cont_msg">
		<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
	</div>
	<div class="msg_cotainer">
		<%=im._message%>
		<% if(im._inputs && im._inputs.length>0) {%>
<form class="cmxform" id="commentForm" method="get" action="">
		<hr/>
			<% for(var i in im._inputs) {%>
			<div class="input-group">
				<input 
					type="<%=(im._inputs[i].type||"").toLowerCase()%>" 
					placeholder="<%=im._inputs[i].label%>" 
					name="<%=im._inputs[i].name%>" 
				class="form-control" aria-describedby="id-<%=im.timestamp%>-<%=i%>">
				<br/><small class="help-block error w-100" id="id-<%=im.timestamp%>-<%=i%>"></small>
			</div><br>
			<% } %>
		<div class="input-group">
			<input type="button" value="Send" name="" class="form-control form-submit btn btn-wyt">
		</div>
	<hr/>
</form>
		<% } %>
		<% if(im._buttons && im._buttons.length>0) {%>
	<div class="input-group my-actions my-enabled">
			<% for(var i in im._buttons) {%>
		<input type="button" value="<%=im._buttons[i].label%>" name="<%=im._buttons[i].label%>" class="form-control btn btn-wyt  my-actions-button">
			<% } %>
	</div>
		<% } %>

		<% if(im.attachments && im.attachments.length>0) {%>
	<div class="input-group my-attachments">
			<% for(var i in im.attachments) {%>
		<img src="<%=getThumb(im.attachments[i].mediaURL)%>" class="">
			<% } %>
	</div>
		<% } %>

		<span class="msg_time"><%=im._timestamp%></span>
	</div>
</div> 
		</script>


		
		<script type="text/template" id="onSndMsgFormat">

<div class="d-flex justify-content-end mb-4">
	<div class="msg_cotainer_send">
		<span id="<%=om.stamp%>" class="blink_me">
			<%=om.msg%>
		</span>
		<span class="msg_time_send"><%=om._timestamp%></span>
		<% var url = file2Url(om.files); if(url){ %>
			<a href="<%=files[0].url %>" target="_blank" >Download</a>
		<% } %>
	</div>
	<div class="img_cont_msg">
		<img src="/agent/assets/images/profile.png" class="rounded-circle user_img_msg">
	</div>
</div>

		</script>
	</body>
	
<script>
const isToday = (someDate) => {
  const today = new Date()
  return someDate.getDate() == today.getDate() &&
    someDate.getMonth() == today.getMonth() &&
    someDate.getFullYear() == today.getFullYear()
}
function formatTime(timestamp,gap){
	const NOW = new Date();
	const DATE = new Date(timestamp);
	const DIFF = moment(NOW).diff(DATE, 'day');
	
	if(DIFF < 1 && isToday(DATE)){
		return moment(DATE).format('h:mm a');
	} else if(DIFF < 3 ){
		return moment(DATE).format('hh:mm a ddd');
	} else if(DIFF < 7 ){
		return moment(DATE).format('h:mm a ddd');
	} else {
		return moment(DATE).format('h:mm a DD MMM YY');
	}
}

function file2Url(files){
	return (files && files[0] && files[0].url);
}

function getThumb(mediaUrl){
	var m = mediaUrl.match(/(.+)\/(res.cloudinary.com)\/([a-zA-Z0-9-_]+)\/([a-zA-Z0-9]+)\/(upload)\/([a-zA-Z0-9,_-]+)\/(.*)/);
	if(m && m.length){
		m[6] = "w_150,h_150";
		return m.slice(1).join("/");
	}
}

function sendMessage(data){
	return $.ajax({
	      type: 'POST',
	      dataType: "json",
	      contentType: 'application/json',
	      url: window.CONST.POSTMAN + "/ext/inbound/web/callback",
	      data: JSON.stringify(data),
	});
}

var initFingerprintJS = function initFingerprintJS() {
    FingerprintJS.load().then(fp => {
      // The FingerprintJS agent is ready.
      // Get a visitor identifier when you'd like to.
      fp.get().then(result => {
        // This is the visitor identifier:
        const visitorId = result.visitorId;
/////////////

      	var MOBILE= result.visitorId;
	$(function(){
	    $(".heading-compose").click(function() {
	      $(".side-two").css({
	        "left": "0"
	      });
	    });

	    $(".newMessage-back").click(function() {
	      $(".side-two").css({
	        "left": "-100%"
	      });
	    });
	    
	    var $SEND_BUTTON = $("#btn-chat");
	    var $SEND_TEXT = $("#btn-input");
	    
	    function sendText(msg){
			 var stamp = onSendMsg(msg);
			 $SEND_TEXT.val("");
	  	   	 return sendMessage({
				 message :   msg, from:MOBILE
			 }).done(function(rsp){
				 $("#"+stamp).removeClass("blink_me") 
			 });
	    }
	    
	    function send(e){
	        var id = e.target.id;
	        //variables for testing, you could have all of the
	        //comparisons in the 'if' statement, just using these to
	        //make the 'if' statement more clear
	        var notEmpty = $SEND_TEXT.val() != "",
	            isEnterKeypress = e.type == "keypress" && e.keyCode == 13,
	            isSendClick = e.type == "click" && id == "btn-chat";

	        if( notEmpty && (isEnterKeypress || isSendClick) ) {
	        	 var msg = $SEND_TEXT.val();
	        	 if(msg.trim() === ""){
	        		 $SEND_TEXT.val("");
	        		 return
	        	 }
	        	 return sendText(msg);
	        }
	    }
	    
	    $SEND_BUTTON.click(send);
	    $SEND_TEXT.keypress(send);
	    
	    $.getJSON(window.CONST.POSTMAN + "/ext/outbound/web/auth",{number:MOBILE}).done(function(rsp){
	    	var msg = "";
	    	var results =  rsp.results;
	    	for(var i in results){
	    		if(rsp.results[i].to && rsp.results[i].to.length){
	    			msg = msg + quikr.tmpl("onSndMsgFormat",{om : {
	    				stamp : results[i].timestamp,
	    				msg : results[i].message,
	    				_timestamp : formatTime(results[i].timestamp),
	    				files : results[i].files
	    			}});
	    		} else {
	    			msg = msg + quikr.tmpl("onRcvMsgFormat",{im : {
	    				stamp : results[i].timestamp,
	    				_message : results[i].message || results[i].template ,
	    				_timestamp : formatTime(results[i].timestamp),
	    				files : results[i].files,
	    				attachments : results[i].attachments
	    			}});
	    		}
	    	}
	    	$(".msg_card_body").append(msg);
	    	 $(".blink_me").removeClass("blink_me")
	    	scrollToBottom();
	    	pollMessage();
	    });
	    
	    $("body").on("click", ".my-actions.my-enabled .my-actions-button", function(e){
	    	var value = $(e.target).val();
	    	sendText(value).done(function(rsp){
				 //$formttdHtml.find('.cmxform').hide(); 
				 console.log("e.target",e.target)
				 $(e.target).parent().removeClass("my-enabled").find(".my-actions-button").addClass("disabled");
			});
	    });
	   
	});


	function pollMessage(){
		//return
		 $.getJSON(window.CONST.POSTMAN + "/ext/outbound/web/callback",{number:MOBILE}).done(function(rsp){
			 onRcvMsg(rsp);
		 }).always(function(rsp){
			 setTimeout(pollMessage,2000);
		 });;
	}

	function scrollToBottom(){
		$('.msg_card_body')[0].scrollTop =  $('.msg_card_body')[0].scrollHeight
	}
	
	function onSendMsg(msg,files){
		var url = "";
		if(files && files[0] && files[0].url){
			url = '<a href="'+files[0].url+'" target="_blank" >Download</a>'
		}
		var stamp = new Date().getTime();
		
		$(".msg_card_body").append(
			quikr.tmpl("onSndMsgFormat",{om : {
				stamp : stamp,
				msg : msg,
				_timestamp : formatTime(stamp),
				files : files
			}})
		);
		
		scrollToBottom()
		return stamp;
	}
	function onRcvMsg(im){
		var url = "";
		if(im.files && im.files[0] && im.files[0].url){
			url = '<a href="'+files[0].url+'" target="_blank" >Download</a>'
		}
		var $formttdHtml = $(formatMessage(im));
		$(".msg_card_body").append($formttdHtml);
		$formttdHtml.find(".cmxform").validate({errorElement: "small"});
		
		$formttdHtml.find(".form-submit").click(function(e){
			var form= {};
			$formttdHtml.find('.cmxform').serializeArray().map(function(field,i){
				form[field.name] = field.value;
			});
			 sendMessage({
				 message : "", from : MOBILE, form : form
			 }).done(function(rsp){
				 $formttdHtml.find('.cmxform').hide(); 
			 });
		});
		scrollToBottom()
	}
	//form-input-name:Name|TEXT;
	//form-input-email:EMAIL|EMAIL;
	function formatMessage(im){
		var inputs = [];
		var buttons = [];
		for(var key in im.options){
			if(key.indexOf("form-input-") == 0){
				var params = im.options[key].split("|");	
				inputs.push({   
					name : 	key.replace("form-input-",""),
					label : params[0],
					type : params[1]
				})
			}
			if(key.indexOf("actions-button-") == 0){
				var params = im.options[key].split("|");	
				buttons.push({   
					name : 	key.replace("actions-button-",""),
					label : params[0],
					type : params[1]
				})
			}
		}	
	  im._message = (im.message || "").replace(/(?:\r\n|\r|\n)/g, '').trim();
	  im._inputs = inputs;
	  im._buttons = buttons;
	  im._timestamp = formatTime(im.timestamp)
      return $(quikr.tmpl("onRcvMsgFormat",{im : im }));
	}
      
/////////////      
      });
    });
}
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
	
<script async src="//cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"
  onload="initFingerprintJS()"></script>
 <script src="//cdn.jsdelivr.net/gh/quikrs/quikr.js/quikr.js"></script>