<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" class="loadable loading">

<head>
	<meta charset=utf-8>
	<meta http-equiv=X-UA-Compatible content="IE=edge">
	<meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">

	<link rel="shortcut icon" th:href="${CDN_URL}+'/favicon.ico'" />

	<title>[[${CONFIG.PROP_SERVICE_NAME}]] - Channel Setup</title>

	<style th:replace="common/cdn.html :: metas"> </style>
	<style th:replace="common/loader.html :: style"> </style>
	<style th:replace="common/cdn.html :: header"> </style>
	<style th:replace="common/cdn.html :: const"> </style>

	<span th:switch="${channelSelected}" th:remove="tag">
		<span th:case="true" th:remove="tag">

	<script>
		window.CONST.extend({
			channelConfig : {
				id : '[[${selectedChannel.id}]]',
				channelType : '[[${selectedChannel.channelType}]]',
				contactType : '[[${selectedChannel.contactType}]]',
				title : '[[${selectedChannel.title}]]',
			}
		});
	</script>
	
				<span th:switch="${selectedChannel.channelType.name()}" th:remove="tag">
					<span th:case="'wacfb'" th:remove="tag">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '[[${selectedChannel.metaAppId}]]',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v18.0'
    });
  };
</script>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js">
</script>

					</span>		
				</span>	
				
		</span>
	</span>
	
</head>

<body>
	<noscript>
		<strong>We're sorry but it doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<style th:replace="common/loader.html :: loader"> </style>
	<style th:replace="common/cdn.html :: body"></style>
	<table width="100%">
		<tr height="30%">
			<td height="30%" ></td>
		</tr>
		<tr th:each="channel: ${channels}">
			<td width="30%"></td>
		    <td width="40%" style="text-align:center; height: 50px; background-color: rgb(146, 146, 146);" >
				<a th:href="${'?channelConfigId=' + channel.id}" th:text="${channel.title}">
				</a>
			</td>
		    <td width="30%" ></td>
		</tr>
	</table>


	<span th:switch="${channelSelected}" th:remove="tag">
		<span th:case="true" th:remove="tag">
				<span th:switch="${selectedChannel.channelType.name()}" th:remove="tag">
					<span th:case="'wacfb'" th:remove="tag">

	<script>
	  // Facebook Login with JavaScript SDK
	  function launchWhatsAppSignup() {
	    // Launch Facebook login
	    FB.login(function (response) {
			if(window.channel_setup_listner){
				window.channel_setup_listner({
					channelType : '[[${selectedChannel.channelType.name()}]]',
					channelConfigId : '[[${selectedChannel.id}]]',
					response : response
				})
			} else {
				console.log("channel_setup_listner:response",response)
			}
	    }, {
	      config_id: '[[${selectedChannel.metaConfigId}]]', // configuration ID obtained in the previous step goes here
	      response_type: 'code',     // must be set to 'code' for System User access token
	      override_default_response_type: true,
	      extras: {
			//channelId :'[[${selectedChannel.id}]]', //  
	        setup: {
	          // Prefilled data can go here
	        }
	      }
	    });
	  }
	</script>

	<button onclick="launchWhatsAppSignup()"
	  style="background-color: #1877f2; border: 0; border-radius: 4px; color: #fff; cursor: pointer; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; height: 40px; padding: 0 24px;">
	  Login with Facebook
	</button>

					</span>		
				</span>	
		</span>
	</span>

	<script type="text/javascript">
		window.onload = function(){
		  	//document.forms['login'].submit();
		}
	</script>
</body>





</html>