
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport
	content="width=device-width,initial-scale=1,shrink-to-fit=no">

<link rel="shortcut icon" th:href="${CDN_URL}+'/favicon.ico'" />

<title>[[${CONFIG.PROP_SERVICE_NAME}]] - Account</title>

<div th:switch="${CDN_DEBUG}" th:remove="tag">
	<p th:case="'true'" th:remove="tag">
		<meta name=report th:content="${CDN_DEBUG}">
	</p>
	<p th:case="*" th:remove="tag">
		<link rel=stylesheet
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
		
		<!-- // preload  css and js -->
		<link th:href="${CDN_URL} + '/app-account.js?_='+${CDN_VERSION}" rel=preload
			as=script>
		<link th:href="${CDN_URL} + '/css/chunk-common.css?_='+${CDN_VERSION}"
			rel=preload as=style>
		<link th:href="${CDN_URL} + '/js/chunk-vendors.js?_='+${CDN_VERSION}"
			rel=preload as=script>
		<link th:href="${CDN_URL} + '/js/chunk-common.js?_='+${CDN_VERSION}"
			rel=preload as=script>
			
		<!-- // load  css -->
		<link
			th:href="${CDN_URL} + '/css/chunk-vendors.css?_='+${CDN_VERSION}"
			rel=stylesheet>
		<link th:href="${CDN_URL} + '/css/chunk-common.css?_='+${CDN_VERSION}"
			rel=stylesheet />

	</p>
</div>



<script>
	window.CONST = {
		TENANT : '[[${TENANT}]]',
		dev : '[[${CDN_DEBUG}]]',
		CDN_URL : '[[${CDN_URL}]]', //
		APP_CONTEXT : '[[${APP_CONTEXT}]]', APP : '[[${APP}]]', //
		remoteJsVersion : '[[${CDN_VERSION}]]', //
		CONTEXT: '[[${APP_CONTEXT}]]', APP_USER : '[[${APP_USER}]]',
		APP_DEPT : '[[${APP_DEPT}]]', APP_USER_ROLE : ([(${APP_USER_ROLE})]),
		CONFIG : [(${CONFIG_JSON})]
	};
</script>
</head>
<body>
	<noscript>
		<strong>We're sorry but ArchitectUI doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app></div>
	
<div th:switch="${CDN_DEBUG}" th:remove="tag"> 
  <p th:case="'true'" th:remove="tag">
  		<!-- // load  js if debug -->
		<script th:src="${CDN_URL}+'/app-account.js?_='+${CDN_VERSION}"></script>
  </p>
  <p th:case="*" th:remove="tag">
  		<!-- // load  js if prod -->
  	  	<script th:src="${CDN_URL}+'/js/chunk-vendors.js?_='+${CDN_VERSION}"></script>
  	  	<script th:src="${CDN_URL}+'/js/chunk-common.js?_='+${CDN_VERSION}"></script>
		<script th:src="${CDN_URL}+'/app-account.js?_='+${CDN_VERSION}"></script>
  </p> 
</div>


</body>





</html>


