<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" class="loadable loading">

<head>
	<meta charset=utf-8>
	<meta http-equiv=X-UA-Compatible content="IE=edge">
	<meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">

	<link rel="shortcut icon" th:href="${CDN_URL}+'/favicon.ico'" />

	<title>[[${CONFIG.PROP_SERVICE_NAME}]] - Channel Setup</title>

	<style th:replace="common/loader.html :: style"> </style>

	<script>
		window.CONST = {
			TENANT : '[[${TENANT}]]',
			dev: '[[${CDN_DEBUG}]]',
			CDN_URL: '[[${CDN_URL}]]', //
			APP_CONTEXT: '[[${APP_CONTEXT}]]', APP: '[[${APP}]]', //
			remoteJsVersion: '[[${CDN_VERSION}]]', //
			CONTEXT: '[[${APP_CONTEXT}]]', "APP_USER": '[[${APP_USER}]]', "APP_DEPT": '[[${APP_DEPT}]]', "APP_USER_ROLE": '[[${APP_USER_ROLE}]]',
			CONFIG: [(${CONFIG_JSON})]
		};
	</script>
</head>

<body>
	<noscript>
		<strong>We're sorry but it doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<style th:replace="common/loader.html :: loader"> </style>
	<div id=app >
		<table width="100%">
			<tr height="30%">
				<td height="30%" ></td>
			</tr>
			<tr th:each="channel: ${channels}">
				<td width="30%"></td>
			    <td width="40%" style="text-align:center; height: 50px; background-color: rgb(146, 146, 146);" >
					<a th:href="${'?channelConfigId=' + channel.id}" th:text="${channel.title}">
					</a>
				</td>
			    <td width="30%" ></td>
			</tr>
		</table>
	</div>

	<script type="text/javascript">
		window.onload = function(){
		  	//document.forms['login'].submit();
		}
	</script>
</body>





</html>